# compiled code
"src/Genetic .479a36c1"
src/x64

# zipped folders
.zip

# vscode
.vs
.vcxproj
.vcxproj.filters
.vcxproj.user

# python
.pyc

#logs
.log

# docs
docs/source/_images/
dfmcontrol/.idea/
.idea/jupyter-settings.xml
.vscode/tasks.json
src/notes.txt